/** 
 *
 * 		Global Styles
 * 		
 * 		# Variables
 * 		# Fonts
 * 		# Main Navigation
 * 		# Layout
 * 		
 */

/* # Variables */

$color__main-brand: #54a2cc;
$color__main-darker: #377799;
$color__main-blue: #00a1e9;
$color__main-pink: #ff9283;
$color__main-purple: #9a86cc;
$color__main-gray: #aaa;

// $color__background-body: #fff;
// $color__background-screen: #f1f1f1;
// $color__background-hr: #ccc;
// $color__background-button: #e6e6e6;
// $color__background-pre: #eee;
// $color__background-ins: #fff9c0;

// $color__text-screen: #21759b;
// $color__text-input: #666;
// $color__text-input-focus: #111;
// $color__link: royalblue;
// $color__link-visited: purple;
// $color__link-hover: midnightblue;
// $color__text-main: #404040;

// $color__border-button: #ccc #ccc #bbb;
// $color__border-button-hover: #ccc #bbb #aaa;
// $color__border-button-focus: #aaa #bbb #bbb;
// $color__border-input: #ccc;
// $color__border-abbr: #666;

@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font__main: 'Montserrat', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
// $font__pre: "Courier 10 Pitch", Courier, monospace;
// $font__line-height-body: 1.5;
// $font__line-height-pre: 1.6;

$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;

$size__site-main: 100%;
$size__site-sidebar: 25%;


/* # Fonts */
body {
	font-family: $font__main;
}
.code {
	font-family: $font__code;
}


/* # Layout */
.container {
	max-width: 900px;
}

/* # Links */
a {
	color: #000;
	&:hover {
		color:$color__main-brand;
		text-decoration: none;
	}
}


/* # Navigation */
.main-nav {
	ul {
		margin: 1.5rem auto;
		list-style: none;
		border: 1px solid $color__main-darker;
		padding: 0.5rem;
		max-width: 550px;
		text-align: center;
		background: #fff;
		li {
			margin: 0 1rem;
			display: inline-block;
			text-transform: uppercase;
			a {
				font-size: 0.9rem;
				&:hover {
					color:#000;
					font-weight: bold;
				}
			}
		}
	}
}


/* # Footer */
footer {
	.footer-menu {
		ul {
			margin: 1rem 0;
			padding: 0;
			list-style: none;
			display: inline-block;
			li {
				margin: 0 0.5rem;
				display: inline-block;
				text-transform: uppercase;
				a {
					font-size: 0.8rem;
				}
			}
		}
		ul.social {
			float: right;
			li {
				a {
					text-align: right;
					font-size: 1.4rem;
				}
			}
		}
	}
	nav {
		display: inline-block;
		width: 100%;
	}
	p {
		clear: both;
		text-align: center;
		font-size: 0.9rem;
		padding: 1rem 0;
		border-top: 1px solid #000;
	}
}