/** 
 *
 * 		Index
 * 		
 * 		# Header
 * 		
 */

.index {
	/* # Block */
	.block {
		min-height: 576px;
	}

	/* # Header */
	header {
		// padding: 9rem 0 auto 0;
		padding-top: 9rem;
		text-align: center;
		img {
			max-width: 180px;
		}
		.intro {
			margin: 2rem 0 3rem 0;
			p {
				margin: 0;
			}
			span {
				color: $color__main-brand;
				font-weight: bold;
			}
		}
	}

	/* # Headings */
	h2 {
		color: $color__main-brand;
		text-align: center;
		margin-bottom: 3rem;
	}
	h3 {
		font-size: 1.2rem;
	}

	/* # Buttons */
	button {
		margin: 1.5rem auto;
	}

	/* # About */
	.about {
		padding-top: 3rem;
		img {
			max-width: 200px;
			margin: 0.5rem auto;
			display: block;
		}
		figcaption {
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
			margin: 1rem 0;
			span {
				color: $color__main-brand;
			}
		}
	}

	/* # Works */
	.works {
		.card-img {
			height: 180px;
			object-fit: cover;
			object-position: 50% 0%;
		}
	}

	/* # Contact */
	.contact {
		min-height: 400px;
		text-align: center;
		ul {
			width: 100%;
			margin: 1rem auto;
			padding: 0;
			list-style: none;
			display: inline-block;
			li {
				margin: 0 2rem;
				display: inline-block;
				text-transform: uppercase;
				a {
					font-size: 4rem;
				}
			}
		}
	}

}