/** 
 *
 * 		Index
 * 		
 * 		# Header
 * 		
 */

.index {

	/* # Header */
	header {
		margin: 9rem 0 5rem 0;
		text-align: center;
		img {
			max-width: 180px;
		}
		.intro {
			margin: 2rem 0 3rem 0;
			p {
				margin: 0;
			}
			span {
				color: $color__main-brand;
				font-weight: bold;
			}
		}
	}

	/* # Headings */
	h2 {
		color: $color__main-brand;
		text-align: center;
	}

}