.card-columns {
	column-count: 2;
	img {
		height: 200px;
		object-fit: cover;
		object-position: 50% 0%;
	}
}

.project-single {
	// #project-carousel {
	// 	max-width: 600px;
	// 	margin: 0
	// }
	h2 {
		margin: 3rem 0 2rem 0;
	}
	button {
		margin: 2rem auto;
	}
	.project-show {
		text-align: center;
	}
	.carousel-indicators li {
		background:$color__main-gray;
		&.active {
			background:$color__main-brand;
		}
	}
	.carousel-item {
		img {
			height: 400px;
			object-fit: cover;
			width: 100%;
			object-position: 50% 0%;
		}
	}
	.project-tech {
		img {
			width: 100%;
		}
	}
}