.card {
	margin: 1rem auto;
}
.card-body {
	min-height: 230px;
}
.card-img {
	height: 180px;
	object-fit: cover;
	width: 100%;
	object-position: 50% 0%;
}

.project-single {
	// #project-carousel {
	// 	max-width: 600px;
	// 	margin: 0
	// }
	max-width: 600px;
	margin: 0 auto;
	h2 {
		margin: 3rem 0 2rem 0;
	}
	button {
		margin: 2rem auto;
	}
	.project-show {
		text-align: center;
	}
	.carousel-indicators li {
		background:$color__main-gray;
		&.active {
			background:$color__main-brand;
		}
	}
	.carousel-item {
		img {
			height: 400px;
			object-fit: cover;
			width: 100%;
			object-position: 50% 0%;
		}
	}
	.project-tech {
		.row {
			text-align: center;
			vertical-align: middle;
		}
		img {
			display: inline-block;
			max-height: 118.5px;
			max-width: 118.5px;
			width: 100%;
			// object-fit: contain;
			// max-height: 118.5px;
		}
	}
}